.aboutme {
  text-align: left;
}

body {
  padding-top: 50px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
.container {
  height: auto;
  width: 90vh;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.info {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
h1 {
  color: #333;
  font-size: 24px;
}
p {
  color: #666;
  margin-top: 10px;
}
.profile {
  height: auto;
  width: auto;
  margin: 20px;
  margin-bottom: 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 10px;
}
.subCtn {
  display: flex;
  flex-direction: column;
}
.image {
  height: 200px;
  width: 200px;
  border: 1px solid #cccccc;
}

button {
  margin-top: 15px;
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #2563eb;
}
